<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre Mí</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus fugiat veniam cumque non enim laboriosam aut praesentium delectus ad accusantium tempore laborum explicabo distinctio in, quas incidunt maxime, quod adipisci!
    Nobis doloremque minima ad, recusandae asperiores iusto fugit perferendis expedita reprehenderit officia consectetur fugiat aliquam architecto ratione corrupti velit tempore vel minus illum quaerat quas! Fugiat tempora sed asperiores molestiae.
    Nobis, pariatur odit! Nihil quia aliquam error est vel sequi aspernatur iste quas qui unde officiis aliquid, cupiditate dignissimos id. Quod quam itaque fugiat voluptates maiores mollitia expedita iure obcaecati.
    Est accusamus at ullam? Sint quisquam consequatur dolorum ad ea asperiores! Consequuntur dolor maiores assumenda nemo, sequi tenetur quo! Quisquam nobis blanditiis esse quaerat nostrum ipsa officia saepe. Ipsa, eum?
    Exercitationem molestias fugit fuga ex ut quae magni sed est, alias quaerat neque optio suscipit totam reiciendis in ea error, asperiores beatae necessitatibus aut officiis? Neque accusamus illo molestiae laborum.</p>
</article>